<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reader.qidian">
  <application
      android:label="风云爬虫MOD">
    <meta-data
        android:name="type"
        android:value="${type}"/>
    <meta-data
        android:name="source"
        android:value="${source}"/>
    <meta-data
        android:name="priority"
        android:value="${priority}"/>
    <meta-data
        android:name="class"
        android:value="${class}"/>

    <activity android:name="com.fengyun.TestActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"></action>
        <category android:name="android.intent.category.LAUNCHER"></category>
      </intent-filter>
    </activity>
  </application>
</manifest>

